@{
    ViewBag.Title = "ProjectAssignment";
}

<h2>Project Assignment</h2>

<div class="container">

    <div class="row">
        <div class="col-md-6 text-center">
            @Html.Label("Select Project")
        </div>

        <div class="col-md-6 text-center">
            @Html.Label("Select User(s)")
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">


            <div class="col-md-6">
                @Html.DropDownList("Projects", null, htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="col-md-6 form-group">

                @Html.DropDownList("Users", null, htmlAttributes: new { id = "multiple", @class = "form-control select2-multiple select2-input", multiple = "multiple" })

            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
    }

</div>



@*@Html.DropDownList("Users", null, htmlAttributes: new { id = "multiple", @class="form-control select2-multiple select2-input", multiple="multiple"})*@